# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*cpython-*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
*.egg-info

/models/
/outputs/
/user/
/json-workflows/